body{
  margin: 10px;
  font-family: 'Poppins', sans-serif;
}
.movie-container{
  width: 250px;
}
.movie-poster{
  height: 350px;
  width: 250px;
  object-fit: cover;
}
.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
}
.checked {
  margin: 0px;
  color: orange;
}
.movie-rating{
  margin: 0px;
  font-size: 15px;
}
.movie-name{
  margin: 0px;
  font-size: 15px;
}
.movie-summary{
  margin-top: 5px;
  margin-bottom: 40px;
  text-align: justify;
  font-size: 14px;
}
.movie-list{
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: space-around;
}